.content-wrapper {
  display: flex;
  width: 100%;
  height: 95%;
  padding-top: 1em;
  justify-content: center;
}
.content-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(13em, 13em));
  grid-auto-rows: 15em;
  column-gap: 1em;
  row-gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.card-details {
  display: inline-flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 80em;
  min-width: 45em;
  align-content:baseline ;
}
.card-detail-image {
  display: flex;
  height: 85%;
  width: 30%;
  max-width: 20em;
  max-height: 25em;
  padding: 0;
  margin: 2em;
  object-fit: contain;
  justify-content: center;
}
.card-details-name {
  display: flex;
  float: right;
  height: 2em;
  width: 100%;
  background-color: antiquewhite;
  color: rgb(80, 10, 27);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-info {
  display: flex;
  width: 30%;
  height: 85%;
  max-width: 20em;
  max-height: 25em;
  margin: 2em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
