html{
  width: 100%;
  background-image: url("/images/background.png");
  background-size:cover;
  background-repeat: no-repeat;
}
body {
  min-width: 30em;
  margin: 0;
  padding: 0;
}
.body-container {
  display: inline-flex;
  width: 100%;
  grid-template-columns: 15% 85%;
  justify-items: center;
}
.side-bar {
  display: block;
  height: 100%;
  width: 12em;
}
.side-link {
  display: flex;
  width: 10em;
  height: 2em;
  margin: 10px;
  background-color: rgb(6, 53, 7);
  box-shadow: 1px 1px 2px black;
  border-radius: 7px;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.side-link:hover {
  text-shadow: rgb(28, 92, 189) 1px 0 10px;;
  color: aquamarine;
  translate: 1px 0px;
}
.nav-bar {
  display: flex;
  width: 90%;
  justify-content: center;
  justify-self: center;
}
.nav-link {
  display: flex;
  width: 6em;
  height: 2em;
  margin: 10px;
  background-color: rgb(6, 53, 7);
  box-shadow: 1px 1px 2px black;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
.nav-link:hover {
  text-shadow: rgb(28, 92, 189) 1px 0 10px;;
  color: aquamarine;
  translate: 0 1px;
}
.logo{
  display: flex;
  width:12em;
  justify-content: center;
  align-content: center;
}
.logo img{
scale: 1.1;
 width: 80px;
 height: 80px;
}
.header{
  display: inline-flex;
  width: 100%;
  padding-top: 1em;
  align-items: center;
  align-content: center;
}