.card-list{
    flex-wrap: wrap;
    display:flex;
    text-align: center;


}
.card{ 
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color:whitesmoke;
        height: 35em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 25em;
        margin:1em;
        transition: all 0.3s ease;
        animation: zoom-animation 0.2s ease-in reverse;   
        box-shadow: 1px 1px 2px black;
}
.card:hover{
    scale: 1.05;
    box-shadow: 5px 5px 5px black;
    border-style: solid;
    border-width: 1px;
    border-color: sandybrown;
}

.card:hover .description{
    opacity: 30%;
}
.name{
    background-color: antiquewhite;
    color:rgb(80, 10, 27);
    font-weight: bold;
    text-justify:distribute;
}
.description{
    transition: all 0.3s ease;
}


    
