.card {
    position: relative;
    z-index: 0;
  background-color: whitesmoke;
  height: 17em;
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  width: 16em;
  margin: 1em;
  transition: all 0.3s ease;
  animation: zoom-animation 0.2s ease-in reverse;
  box-shadow: 1px 1px 2px black;
}
.card-image {
  height: 80%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}
.card:hover {
  scale: 1.02;
  box-shadow: 5px 5px 5px black;
  border-style: solid;
  border-width: 1px;
  border-color: sandybrown;
}

.card:hover .description {
  opacity: 30%;
}
.name {
  display: flex;
  background-color: antiquewhite;
  color: rgb(80, 10, 27);
  font-weight: bold;
  height: 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description {
  transition: all 0.3s ease;
}
