.card {
  display: inline-flex;
  background-color: white;
  height: 15em;
  width: 13em;
  box-shadow: 1px 1px 2px black;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  transition: all 0.5s ease;
}
.card-image {
  display: flex;
  padding: 0;
  height: 85%;
  width: 80%;
  object-fit: contain;
  justify-content: center;
}
.card:hover {
  scale: 1.02;
  box-shadow: 5px 5px 5px black;
  border-style: solid;
  border-width: 1px;
  border-color: sandybrown;
}

.card:hover .description {
  opacity: 30%;
}
.name {
  display: flex;
  height: 15%;
  width: 100%;
  background-color: antiquewhite;
  color: rgb(80, 10, 27);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loader {
  display: flex;
  width: 100%;
  padding-top: 5em;
  justify-content: center;
}
